ul {
	list-style-type: none;

	li {
		display: inline-block;

		&:hover {
			img:last-child {
				display: block;
				position: fixed;			
				left: 48px;
				top: 110px;
			}
		}

		img:last-child {
			display: none;
		}
	}
}
