* {
  margin: 0;
  padding: 0; }

body {
  font: normal 32px Arial; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

li {
  display: inline-block;
  padding: 5px; }

a:hover {
  background: rgba(18, 94, 132, 0.7);
  border-radius: 15px; }

a {
  padding: 6px; }

nav {
  background: -webkit-linear-gradient(#033249, #62b3dd);
  padding: 50px;
  width: 900px;
  height: 80px; }
  nav > ul {
    position: relative; }
    nav > ul .selected > a {
      background-color: #194256;
      border-radius: 15px; }
    nav > ul .selected > ul {
      position: absolute;
      display: block;
      left: 0; }
      nav > ul .selected > ul li:hover ul {
        background: -webkit-linear-gradient(#f4fbff 0%, #77d1ff 40%);
        padding: 20px;
        position: absolute;
        display: block;
        border-radius: 6px; }
        nav > ul .selected > ul li:hover ul li {
          display: block;
          padding: 5px; }
        nav > ul .selected > ul li:hover ul li:not(:last-child) {
          border-bottom: 1px solid black; }
      nav > ul .selected > ul li ul {
        display: none; }
    nav > ul li ul {
      display: none; }

