body {
	font-family: Verdana;
	color: #424284;

	p, li {
		font-size: 10px;
	}

	a {
		text-decoration: none;
		color: #006699;
	}

	h5 {
		color: #C41E89;
	}

	.nav_heading {
		font-size: 12px;
		font-weight: bold;
	}

	.description {
		font-weight: bold;
	}

	#wrapper {
		background-color: #E6DEF5;
		margin: 0 auto;
		border: 1px solid gray;

		#header {
			background: url(images/header.png) right no-repeat;
			height: 47px;
			background-color: white;
		}

		#nav {
			width: 9%;
			float: left;
			background-color: #F2F3F7;

			ul {
				padding-left: 20px;
			}

			p {
				margin-left: 5px;
			}
		}

		#main {
			padding: 2px;
			width: 65%;
			float: left;

			#categories {
				display: inline-block;		
				background: url(images/star.png) left no-repeat;

				ul {
					text-decoration: none;
					margin: 5px;
					padding-left: 10px;

					li {
					    display: inline;
						border-right: 1px solid black;
						padding-right: 5px;

						&.listBeginning {
							font-size: 11px;
						}

						&:first-child, &:last-child {
							border: none;
							padding-left: 0;
						}

						a {
							color: #0000CC;
						}
					}
				}
			}

			#content {
				padding: 10px;
				background: #F9F4FD;

				img {
					float: left;
					margin-left: 5px;
					margin-right: 5px;
				}

				ul#hyperlink {
					color: orange;
					padding-bottom: 60px;
					padding-left: 10px;
				}
			}
		}

			#aside {
				width: 25%;
				float: left;
				background: #F9F4FD;
				margin-top: 2px;
				padding-bottom: 19px;

				#moreLinks {

					ul {
						float: left;
						color: orange;
						margin-top: 2px;
					}
				}

				ul#articles {
					padding-left: 10px;
					margin-bottom: 5px;
					list-style-type: none;

					li {
						display: inline-block;
						margin-bottom: 5px;

						img {
							margin-right: 10px;
							float: left;
						}

						&:last-child {
							p {
								float: left;
							}
						}
					}
				}
			}

		#footer {
			color: white;
			text-align: center;
			background-color: #59518C;
			padding: 5px;
			clear: both;
		}
	}
}