body {
  font-family: Verdana;
  color: #424284; }
  body p, body li {
    font-size: 10px; }
  body a {
    text-decoration: none;
    color: #006699; }
  body h5 {
    color: #C41E89; }
  body .nav_heading {
    font-size: 12px;
    font-weight: bold; }
  body .description {
    font-weight: bold; }
  body img {
    border: 1px solid black; }
  body #wrapper {
    background-color: #E6DEF5;
    margin: 0 auto;
    border: 1px solid gray; }
    body #wrapper #header {
      background: url(images/header.png) right no-repeat;
      height: 47px;
      background-color: white; }
      body #wrapper #header img {
        border: none; }
    body #wrapper #nav {
      width: 9%;
      float: left;
      background-color: #F2F3F7; }
      body #wrapper #nav ul {
        padding-left: 20px; }
      body #wrapper #nav p {
        margin-left: 5px; }
    body #wrapper #main {
      padding: 2px;
      width: 65%;
      float: left; }
      body #wrapper #main #categories {
        display: inline-block;
        background: url(images/star.png) left no-repeat; }
        body #wrapper #main #categories ul {
          text-decoration: none;
          margin: 5px;
          padding-left: 10px; }
          body #wrapper #main #categories ul li {
            display: inline;
            border-right: 1px solid black;
            padding-right: 5px; }
            body #wrapper #main #categories ul li.listBeginning {
              font-size: 11px; }
            body #wrapper #main #categories ul li:first-child, body #wrapper #main #categories ul li:last-child {
              border: none;
              padding-left: 0; }
            body #wrapper #main #categories ul li a {
              color: #0000CC; }
      body #wrapper #main #content {
        padding: 10px;
        background: #F9F4FD; }
        body #wrapper #main #content img {
          float: left;
          margin-left: 5px;
          margin-right: 5px; }
        body #wrapper #main #content ul#hyperlink {
          color: orange;
          padding-bottom: 65px;
          padding-left: 10px; }
    body #wrapper #aside {
      width: 25%;
      float: left;
      background: #F9F4FD;
      margin-top: 2px;
      padding-bottom: 18px; }
      body #wrapper #aside #moreLinks ul {
        float: left;
        color: orange;
        margin-top: 2px; }
      body #wrapper #aside ul#articles {
        padding-left: 10px;
        margin-bottom: 5px;
        list-style-type: none; }
        body #wrapper #aside ul#articles li {
          display: inline-block;
          margin-bottom: 5px; }
          body #wrapper #aside ul#articles li img {
            margin-right: 10px;
            float: left; }
          body #wrapper #aside ul#articles li:last-child p {
            float: left; }
    body #wrapper #footer {
      color: white;
      text-align: center;
      background-color: #59518C;
      padding: 5px;
      clear: both; }

