ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }
    ul li:hover img:last-child {
      display: block;
      position: fixed;
      left: 48px;
      top: 110px; }
    ul li img:last-child {
      display: none; }

