body {
    font: bold 12px Arial;
    color: white;
    background: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.news {
    background-color: #1E3741;
    border: 1px solid #337D8F;
    width: 48%;
    overflow: auto;
    border-radius: 7px;
    padding: 5px 5px 5px 0;
}

    .news .categories {
        margin-bottom: 15px;
    }

        .news .categories li {
            display: inline-block;
            padding: 10px;
            background: rgba(255, 255, 255, 0.3);
            opacity: 0.6;
        }

            .news .categories li:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            .news .categories li:active {
                opacity: 1;
                background-color: #1E3741;
            }

        .news .categories .active {
            background-color: #1E3741;
            opacity: 1;
        }

    .news .newsItems {
        float: left;
    }

        .news .newsItems li {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            width: 210px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            opacity: 0.5;
        }

            .news .newsItems li:hover {
                background-color: #00968C;
                cursor: pointer;
                opacity: 1;
            }

            .news .newsItems li:last-child {
                border-bottom: none;
            }
